In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [5]:
df = pd.read_csv('E:\Datasets\cars.csv')

df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [11]:
df.columns.nunique()

5

In [14]:
df['fuel'].value_counts()

Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: fuel, dtype: int64

In [15]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

## One Hot Encoding by using Pandas

In [8]:
df_encode = pd.get_dummies(df,columns=['fuel','owner'])

In [9]:
df_encode.head()

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0

In [12]:
df_encode.columns.nunique()

12

In [17]:
df_encode.columns

Index(['brand', 'km_driven', 'selling_price', 'fuel_CNG', 'fuel_Diesel',
       'fuel_LPG', 'fuel_Petrol', 'owner_First Owner',
       'owner_Fourth & Above Owner', 'owner_Second Owner',
       'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

## K-1 Encoding

In [19]:
# K-1 Encoding mean we remove the first column from encoded columns

df_drop_first = pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

In [20]:
df_drop_first.head()

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0

In [25]:
x = df.iloc[:,0:4]

y = df.iloc[:,-1]

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=2)

In [31]:
oe_simple = OneHotEncoder(sparse=False)

In [42]:
x_train_encoded = oe_simple.fit_transform(x_train[['fuel','owner']])

x_test_encoded = oe_simple.transform(x_test[['fuel','owner']])

In [44]:
x_train_encoded.shape

(6502, 9)

In [43]:
x_test_encoded

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [46]:
oe_drop_first = OneHotEncoder(drop = 'first',sparse=False,dtype=np.int32)

In [51]:
x_train_trf = oe_drop_first.fit_transform(x_train[['fuel','owner']])

x_test_trf = oe_drop_first.transform(x_test[['fuel','owner']])

In [52]:
x_train_trf.shape

(6502, 7)