In [72]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

from sklearn.preprocessing import LabelEncoder

In [15]:
df = pd.read_csv('E:\Datasets\customer.csv')

df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [16]:
# we seperate the ordinal categorical columns for this notebook

df1 = df.iloc[:,2:]

In [18]:
df1.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [25]:
x = df1.drop(columns=['purchased'])

y= df1['purchased']

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=2)

In [28]:
x_train.shape,x_test.shape

((40, 2), (10, 2))

In [42]:
x_train['review'].value_counts()

Poor       15
Good       14
Average    11
Name: review, dtype: int64

In [30]:
# By default values assigned by the ordinal Encoder

oe = OrdinalEncoder()

In [31]:
oe.fit(x_train)

OrdinalEncoder()

In [33]:
x_train_trf = oe.transform(x_train)

In [37]:
x_train_scaled = pd.DataFrame(x_train_trf,columns=x_train.columns)

In [38]:
x_train_scaled.head()

   review  education
0     0.0        0.0
1     1.0        2.0
2     2.0        2.0
3     2.0        1.0
4     2.0        0.0

In [46]:
x_train['education'].value_counts()

PG        15
UG        13
School    12
Name: education, dtype: int64

In [57]:
# we can also asssign the specific values by using Ordinal Encoder

oe1 = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [62]:
x_train_scale = oe1.fit_transform(x_train)

x_test_scale = oe1.transform(x_test)

In [65]:
x_train_scale = pd.DataFrame(x_train_scale,columns=x_train.columns)

x_test_scale = pd.DataFrame(x_test_scale,columns=x_test.columns)

In [70]:
x_train_scale.head()

   review  education
0     1.0        2.0
1     2.0        1.0
2     0.0        1.0
3     0.0        0.0
4     0.0        2.0

In [71]:
x_test_scale.head()

   review  education
0     2.0        1.0
1     2.0        2.0
2     0.0        0.0
3     2.0        1.0
4     1.0        0.0

In [73]:
# We use Label Encoder for output columns

le = LabelEncoder()

In [78]:
le.fit(y_train)

y_train_scaled = le.transform(y_train)

y_test_scaled = le.transform(y_test)

In [89]:
y_train_scaled = pd.DataFrame(y_train_scaled)

y_train_scaled.rename(columns={0:'purchased'},inplace=True)

y_train_scaled.head()

   purchased
0          1
1          1
2          1
3          0
4          0